/* 
    Document   : update.styles.css
    Created on : 11/12/2012, 12:15:44 PM
    Author     : fredy
    Description:
        Purpose of the stylesheet follows.
*/

/************************
    Tabla Acordeon
*************************/

/*.col_izq_tabla_general {
    border: 1px solid #B3B3B3;
    border-collapse: collapse;
    margin: 1.5em 10px 1.5em 0 !important;
    width: 100%;
}

.col_izq_tabla_general tr, .col_izq_tabla_general td {
    border: 1px solid #B3B3B3;
    padding: 0.8em 1em !important;
    background-color: #FFFFFF;
}
.col_izq_tabla_general tr td {
    color: #4D4D4D !important;
    font-family: 'Open Sans',sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 300 !important;
    line-height: 130%;
}
.col_izq_tabla_general tr.alt td {
    background-color: #E6E6E6;
    color: #333333 !important;
    font-weight: 400 !important;
    padding: 0.6em !important;
    text-align: center;
}
#columna_izquierda .col_izq_tabla_donantes {
    border: medium none;
    color: #4D4D4D !important;
    font-family: 'Droid Sans',sans-serif;
    font-size: 0.75em;
    font-style: normal;
    font-weight: 300;
    line-height: 130%;
    margin: 0.5em 10px 0 0 !important;
}
#columna_izquierda .col_izq_tabla_donantes tr.alt td {
    background-color: #E6E6E6;
}
#columna_izquierda .col_izq_tabla_donantes td {
    background: none repeat scroll 0 0 #FFFFFF;
    padding: 0.4em 1em 0.4em 0 !important;
}
#columna_izquierda .col_izq_tabla_donantes tr.subtotal td {
    background-color: #666666 !important;
    border-bottom: 1px solid #FFFFFF;
    color: #FFFFFF !important;
    font-weight: 600;
}
#columna_izquierda .col_izq_tabla_donantes tr td.subtotal_gris {
    background-color: #666666;
}
#columna_izquierda .col_izq_tabla_donantes tr .subtotal_gris h3 {
    color: #FFFFFF !important;
    font-weight: 400 !important;
    text-align: center !important;
}
#columna_izquierda .col_izq_tabla_donantes tr td.total_rojo {
    background-color: #FF0000;
}
#columna_izquierda .col_izq_tabla_donantes tr .total_rojo h1 {
    color: #FFFFFF !important;
    font-size: 1.7em !important;
    font-weight: 400 !important;
    text-align: center !important;
}
#columna_izquierda .col_izq_tabla_donantes h1, #columna_izquierda .col_izq_tabla_donantes h2, #columna_izquierda .col_izq_tabla_donantes h3 {
    color: #4D4D4D !important;
    font-family: 'Droid Sans',sans-serif;
    font-size: 1.3em;
    font-style: normal;
    font-weight: 300;
    line-height: 130%;
    padding: 1em 0 !important;
    text-align: right !important;
}
#columna_izquierda .col_izq_tabla_donantes h1 {
    color: #FF0000 !important;
    font-size: 1.7em;
    font-weight: 600;
    padding: 0 0 0 0.5em !important;
}
#columna_izquierda .col_izq_tabla_donantes h3 {
    font-size: 1.6em;
    font-weight: 300;
    padding: 0 0 0 0.5em !important;
}

.bloque-colfuturo-le-ayuda ul.list-border-bottom-gray li{
  padding: 0 0 10px 0;
  height: 140px;
}

.bloque-colfuturo-le-ayuda ul.list-border-bottom-gray li p strong{
    display: block;
    font-size: 12.8px;
    font-weight: 400;
    padding: 3.8px 0 6.4px;
}

.bloque-colfuturo-le-ayuda ul.list-border-bottom-gray li p img{
  float: right;
}

.bloque-colfuturo-le-ayuda ul.list-border-bottom-gray li p a {
    display: inline-block !important;
    font-family: 'Droid Sans',sans-serif;
    font-size: 1em;
    font-style: normal;
    font-weight: 300;
    line-height: 130%;
    color: #0AABEA;
    margin-top: 15px;
}

.bloque-colfuturo-le-ayuda ul.list-border-bottom-gray li p a:hover {
  color: #DA291C;
}

.bloque-colfuturo-le-ayuda ul.list-border-bottom-gray li.last{
  border: none;
}*/