
.region-blockgroup-pcb-slides-y-bloques .region-inner.clearfix{
  width: auto;
  float: left;
}

#block-apl-integracion-block-apl-beneficiario{
  max-width: 231px;
}
#block-apl-integracion-block-apl-beneficiario .wrapper-container{
  display: inline-block;
  max-width: 231px;
}
